
/* Tabs on Now ======================== */

at-core-searchbox + .start-now {
  border-bottom: 1px solid #ccc;
  margin-top: 15px;
  margin-bottom: 35px;
}

at-carbon-tabs#tabs {
  width: 70%;
  height: 65px;
  display: inline-block !important;
  margin-bottom: -6px;
  font-size: 18px;
}

#greetingContainer {
  float: right;
  margin-top: 13px;
  font-size: 30px !important;
  color: #666;
}

.wrapper.style-scope.at-carbon-tabs { 
  width: 350px;
}

at-carbon-tab.start-now { 
  padding: 0 10px !important;
  margin: 0 10px !important;
  min-width: 100px;
}

/* Making search field have box shadow on focus */
at-now-search#globalSearch:focus-within #searchBox { 
  box-shadow: 0px 0px 6px 0px #0088cc;
}



#tabsContainer.at-carbon-tabs {
  margin-left: 0;
}
