/* 
  initialize for Polymer / ShadowDom

*/

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body, input, select, textarea  {
    font-family: 'Segoe UI', 'Segoe WP', 'Roboto','Frutiger','Helvetica Neue', Helvetica, Arial, sans-serif;
}

body /deep/ input, body /deep/ select, body /deep/ textarea {
    font-family: inherit;
}
