/* 
  initialize for Polymer / ShadowDom

*/

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

*,
*:after,
*:before,
body /deep/ * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body, input, select, textarea  {
    font-family: 'Segoe UI', 'Segoe WP', 'Roboto','Frutiger','Helvetica Neue', Helvetica, Arial, sans-serif;
}

body /deep/ input, body /deep/ select, body /deep/ textarea {
    font-family: inherit;
}
